[color]
  diff = auto
  status = auto
  branch = auto
[user]
	name = Alain Gilbert
	email = alain.gilbert.15@gmail.com
[alias]
  ci = commit
  co = checkout
  st = status
  br = branch
[core]
	excludesfile = /Users/agilbert/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
